In [98]:
import pandas as pd
import numpy as np

In [99]:
def make_float(x):
    if "만원" in x:    #뛰어쓰기가 있는 경우에는 두 개로 쪼개서 계산 ex) 1123 1/3
        number1, str1 = x.split("만원")
        number = int(number1) * 10000
    else:
        if "달러" in x: #뛰어쓰기가 없지만 /가 있는경우 ex) 1/3
            number1, str1 = x.split("달러")
            number = int(number1) * 1000
        else: #숫자만 있을때 ex 112
            number = int(x)
    return number

In [100]:
doosan_hdf = pd.read_csv("doosan_hsalary.csv")
doosan_pdf = pd.read_csv("doosan_psalary.csv")
hanhwa_hdf = pd.read_csv("hanhwa_hsalary.csv")
hanhwa_pdf = pd.read_csv("hanhwa_psalary.csv")
lotte_hdf = pd.read_csv("lotte_hsalary.csv")
lotte_pdf = pd.read_csv("lotte_psalary.csv")
nexen_hdf = pd.read_csv("nexen_hsalary.csv")
nexen_pdf = pd.read_csv("nexen_psalary.csv")
samsung_hdf = pd.read_csv("samsung_hsalary.csv")
samsung_pdf = pd.read_csv("samsung_psalary.csv")
KIA_hdf = pd.read_csv("KIA_hsalary.csv")
KIA_pdf = pd.read_csv("KIA_psalary.csv")
KT_hdf = pd.read_csv("KT_hsalary.csv")
KT_pdf = pd.read_csv("KT_psalary.csv")
LG_hdf = pd.read_csv("LG_hsalary.csv")
LG_pdf = pd.read_csv("LG_psalary.csv")
NC_hdf = pd.read_csv("NC_hsalary.csv")
NC_pdf = pd.read_csv("NC_psalary.csv")
SK_hdf = pd.read_csv("SK_hsalary.csv")
SK_pdf = pd.read_csv("SK_psalary.csv")

In [101]:
doosan_hdf["salary"] = doosan_hdf["salary"].apply(make_float)
doosan_pdf["salary"] = doosan_pdf["salary"].apply(make_float)
hanhwa_hdf["salary"] = hanhwa_hdf["salary"].apply(make_float)
hanhwa_pdf["salary"] = hanhwa_pdf["salary"].apply(make_float)
lotte_hdf["salary"] = lotte_hdf["salary"].apply(make_float)
lotte_pdf["salary"] = lotte_pdf["salary"].apply(make_float)
nexen_hdf["salary"] = nexen_hdf["salary"].apply(make_float)
nexen_pdf["salary"] = nexen_pdf["salary"].apply(make_float)
samsung_hdf["salary"] = samsung_hdf["salary"].apply(make_float)
samsung_pdf["salary"] = samsung_pdf["salary"].apply(make_float)
KIA_hdf["salary"] = KIA_hdf["salary"].apply(make_float)
KIA_pdf["salary"] = KIA_pdf["salary"].apply(make_float)
KT_hdf["salary"] = KT_hdf["salary"].apply(make_float)
KT_pdf["salary"] = KT_pdf["salary"].apply(make_float)
LG_hdf["salary"] = LG_hdf["salary"].apply(make_float)
LG_pdf["salary"] = LG_pdf["salary"].apply(make_float)
NC_hdf["salary"] = NC_hdf["salary"].apply(make_float)
NC_pdf["salary"] = NC_pdf["salary"].apply(make_float)
SK_hdf["salary"] = SK_hdf["salary"].apply(make_float)
SK_pdf["salary"] = SK_pdf["salary"].apply(make_float)

In [102]:
doosan_df = pd.concat([doosan_hdf, doosan_pdf]).reset_index(drop=True)
hanhwa_df = pd.concat([hanhwa_hdf, hanhwa_pdf]).reset_index(drop=True)
lotte_df = pd.concat([lotte_hdf, lotte_pdf]).reset_index(drop=True)
nexen_df = pd.concat([nexen_hdf, nexen_pdf]).reset_index(drop=True)
samsung_df = pd.concat([samsung_hdf, samsung_pdf]).reset_index(drop=True)
KIA_df = pd.concat([KIA_hdf, KIA_pdf]).reset_index(drop=True)
KT_df = pd.concat([KT_hdf, KT_pdf]).reset_index(drop=True)
LG_df = pd.concat([LG_hdf, LG_pdf]).reset_index(drop=True)
NC_df = pd.concat([NC_hdf, NC_pdf]).reset_index(drop=True)
SK_df = pd.concat([SK_hdf, SK_pdf]).reset_index(drop=True)

In [104]:
doosan_df = doosan_df.groupby("name", as_index=False).agg({"salary":np.sum, "p_number":np.size})
hanhwa_df = hanhwa_df.groupby("name", as_index=False).agg({"salary":np.sum, "p_number":np.size})
lotte_df = lotte_df.groupby("name", as_index=False).agg({"salary":np.sum, "p_number":np.size})
nexen_df = nexen_df.groupby("name", as_index=False).agg({"salary":np.sum, "p_number":np.size})
samsung_df = samsung_df.groupby("name", as_index=False).agg({"salary":np.sum, "p_number":np.size})
KIA_df = KIA_df.groupby("name", as_index=False).agg({"salary":np.sum, "p_number":np.size})
KT_df = KT_df.groupby("name", as_index=False).agg({"salary":np.sum, "p_number":np.size})
LG_df = LG_df.groupby("name", as_index=False).agg({"salary":np.sum, "p_number":np.size})
NC_df = NC_df.groupby("name", as_index=False).agg({"salary":np.sum, "p_number":np.size})
SK_df = SK_df.groupby("name", as_index=False).agg({"salary":np.sum, "p_number":np.size})

In [106]:
doosan_df["new_salary"]=np.array(doosan_df["salary"]/doosan_df["p_number"])
hanhwa_df["new_salary"]=np.array(hanhwa_df["salary"]/hanhwa_df["p_number"])
lotte_df["new_salary"]=np.array(lotte_df["salary"]/lotte_df["p_number"])
nexen_df["new_salary"]=np.array(nexen_df["salary"]/nexen_df["p_number"])
samsung_df["new_salary"]=np.array(samsung_df["salary"]/samsung_df["p_number"])
KIA_df["new_salary"]=np.array(KIA_df["salary"]/KIA_df["p_number"])
KT_df["new_salary"]=np.array(KT_df["salary"]/KT_df["p_number"])
LG_df["new_salary"]=np.array(LG_df["salary"]/LG_df["p_number"])
NC_df["new_salary"]=np.array(NC_df["salary"]/NC_df["p_number"])
SK_df["new_salary"]=np.array(SK_df["salary"]/SK_df["p_number"])

In [107]:
doosan_df["team"]="두산"
hanhwa_df["team"]="한화"
lotte_df["team"]="롯데"
nexen_df["team"]="넥센"
samsung_df["team"]="삼성"
KIA_df["team"]="KIA"
KT_df["team"]="KT"
LG_df["team"]="LG"
NC_df["team"]="NC"
SK_df["team"]="SK"

In [108]:
doosan_df["salary"]=doosan_df["new_salary"]/10000
hanhwa_df["salary"]=hanhwa_df["new_salary"]/10000
lotte_df["salary"]=lotte_df["new_salary"]/10000
nexen_df["salary"]=nexen_df["new_salary"]/10000
samsung_df["salary"]=samsung_df["new_salary"]/10000
KIA_df["salary"]=KIA_df["new_salary"]/10000
KT_df["salary"]=KT_df["new_salary"]/10000
LG_df["salary"]=LG_df["new_salary"]/10000
NC_df["salary"]=NC_df["new_salary"]/10000
SK_df["salary"]=SK_df["new_salary"]/10000

In [109]:
doosan_df=doosan_df[["name","team","salary"]]
hanhwa_df=hanhwa_df[["name","team","salary"]]
lotte_df=lotte_df[["name","team","salary"]]
nexen_df=nexen_df[["name","team","salary"]]
samsung_df=samsung_df[["name","team","salary"]]
KIA_df=KIA_df[["name","team","salary"]]
KT_df=KT_df[["name","team","salary"]]
LG_df=LG_df[["name","team","salary"]]
NC_df=NC_df[["name","team","salary"]]
SK_df=SK_df[["name","team","salary"]]

In [110]:
doosan_df.to_csv("doosan_salary.csv",encoding='utf-8')
hanhwa_df.to_csv("hanhwa_salary.csv",encoding='utf-8')
KIA_df.to_csv("KIA_salary.csv",encoding='utf-8')
KT_df.to_csv("KT_salary.csv",encoding='utf-8')
LG_df.to_csv("LG_salary.csv",encoding='utf-8')
lotte_df.to_csv("lotte_salary.csv",encoding='utf-8')
NC_df.to_csv("NC_salary.csv",encoding='utf-8')
nexen_df.to_csv("nexen_salary.csv",encoding='utf-8')
samsung_df.to_csv("samsung_salary.csv",encoding='utf-8')
SK_df.to_csv("SK_salary.csv",encoding='utf-8')

In [111]:
salary_df = pd.concat([doosan_df, hanhwa_df, KIA_df, KT_df, LG_df, lotte_df, NC_df, nexen_df, samsung_df, SK_df]).reset_index(drop=True)

In [112]:
salary_df.to_csv("salary_final.csv",encoding='utf-8')

In [113]:
salary_df

    name team    salary
0    고영민   두산   15000.0
1    국해성   두산    3000.0
2    김강률   두산    6200.0
3    김명성   두산    3200.0
4    김응민   두산    2800.0
5    김재호   두산   41000.0
6    김재환   두산    5000.0
7    김진형   두산    3000.0
8    남경호   두산    3000.0
9    노경은   두산   20000.0
10   니퍼트   두산  120000.0
11   류지혁   두산    3000.0
12   민병헌   두산   35000.0
13   박건우   두산    7000.0
14   변진수   두산    7300.0
15   양의지   두산   42000.0
16    양현   두산    2700.0
17   오장훈   두산    2900.0
18   오재원   두산   55000.0
19   오재일   두산    9500.0
20   오현택   두산   11000.0
21   유민상   두산    3200.0
22   유희관   두산   40000.0
23   윤명준   두산   11500.0
24   이용호   두산    2700.0
25   이원재   두산    2800.0
26   이재우   두산    9000.0
27   이현승   두산   40000.0
28   이현호   두산    6800.0
29   장민석   두산   10000.0
..   ...  ...       ...
434  박정권   SK   40000.0
435  박정배   SK    8000.0
436  박종훈   SK    7000.0
437  박희수   SK   14000.0
438  백인식   SK    3800.0
439  밴와트   SK   40000.0
440  서진용   SK    3000.0
441   세든   SK   40000.0
442  신재웅   SK   16500.0
443  안정광   SK    2900.0
444  유서준   SK    2900.0
445  윤길현   SK   50000.0
446  윤석주   SK    2800.0
447  윤중환   SK    2800.0
448  윤희상   SK   12000.0
449  이대수   SK   35000.0
450  이명기   SK   18000.0
451  이재원   SK   28000.0
452  이진석   SK    2900.0
453  이현석   SK    2700.0
454  전유수   SK   13000.0
455  정상호   SK   50000.0
456  정우람   SK  120000.0
457  정의윤   SK   12000.0
458  조동화   SK   30000.0
459  채병용   SK   25000.0
460   최정   SK  100000.0
461  최정민   SK    3000.0
462   켈리   SK   75000.0
463   허웅   SK    3300.0

[464 rows x 3 columns]